<!-- ID entry form -->
<form [formGroup]="idForm" (ngSubmit)="getPokemonDetails()">
  <input type="number" placeholder="Start ID" formControlName="start" name="start"/>
  <input type="number" placeholder="End ID" formControlName="end" name="end"/>
  <input type="submit" value="Submit"/>
</form>

<ng-container *ngIf="loadingPokemon">
  Loading...
</ng-container>

<ng-container *ngIf="pokemons.length > 1">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Sprite</th>
    </tr>
    <tr style="cursor:'pointer'" (click)="getType(pokemon)" *ngFor="let pokemon of pokemons">
      <td>{{ pokemon.id }}</td>
      <td>{{ pokemon.name | titlecase }}</td>
      <td><img [src]="pokemon.sprites.front_default"/></td>
    </tr>
  </table>
</ng-container>
